@page "/converter"
@inject HttpClient Http

<PageTitle>Konvertering</PageTitle>

<h1>Konvertering</h1>

<p>En sida med konvertering</p>

<ol>
    <li>
        Konvertera meter till fot (feet) - matas exempelvis 2 in för antal meter, ska resultatet visa 6,6 fot (avrunda
        till två decimaler).
    </li>
    <li>
        Konvertera km/h till miles/hour - matas exempelvis 100 in för km/h, ska resultatet visa 62 miles/hour (avrunda
        till heltal).
    </li>
</ol>
