@page "/converter"
@inject HttpClient Http

<PageTitle>Konvertering</PageTitle>

<h2>Konvertering</h2>

<p>En sida med konvertering</p>

<h3>Meter till fot</h3>

@* Formulär för meter-konverteraren *@

<label for="meter">Meter:</label>
<input type="number" class="form-control" @bind="meter"/>
<button class="btn btn-primary" @onclick="meterConverter">Konvertera</button>

<p>Längden i fot: @fot ft</p>


@code {
    //Kod för uträkning av m till ft.
    private double fot;
    private double meter;
    private void meterConverter()
    {
        double tempFot = meter * 3.2808;
        //Avrundar antalet ft till ett tal med en decimal. 
        fot = Math.Ceiling(tempFot * Math.Pow(10, Convert.ToDouble(1)))/Math.Pow(10, Convert.ToDouble(1));
    }
}

@* Formulär för kmh-konverteraren *@

<h3>Km/h till Miles/hour</h3>

<label for="km">Km/h:</label>
<input type="number" class="form-control" @bind="km"/>
<button class="btn btn-primary" @onclick="kmConverter">Konvertera</button>

<p>Hastigheten i Miles/hour: @miles mph</p>

@code {
    //Kod för uträkning 
    private double miles;
    private double km;
    private void kmConverter()
    {
        double tempMiles = km * 0.621371;
        miles = Math.Round(tempMiles);
    }
}

